# File konfigurasi rahasia
.env
.env.*
!.env.example

# Dependency jika nanti menggunakan npm
node_modules/

# Hasil build
dist/

# Log
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# File bawaan sistem
.DS_Store
Thumbs.db
desktop.ini
